<% unless user_signed_in? %>
	<div class="hero-unit" id="home-hero">
		<h1>"They were so good live!"</h1>
			<h2>Keep track of the shows you've
			been to and share them with friends.</h2>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
	
<% end %>