<div class="footer">
	<div class ="pull-left">
		<small>
			This app brought to you by Joseph Reed | <%= link_to "Learn More", "#" %>
		</small>
	</div>
	<div class="pull-right">
		<small>
			Photo Credit: Matthew Crawford
		</small>
	</div>
</div>